.DS_Store
*.pyc
corin_notes
docs/_build/*
cctk/scripts/scan_angle/*
pyproject.toml
*.swp
tutorial/*dinucleotide_conformations/conformers/*
tutorial/*dipeptide_conf_search/conf*
tutorial/*dipeptide_conf_search/*.sh
tutorial/*dipeptide_conf_search/output
tutorial/*moj_plot/scan*
tutorial/*moj_plot/output
tutorial/*moj_plot/*.sh
tutorial/*nics_ene/*.sh
tutorial/*nics_ene/output
tutorial/*nics_ene/IRC*
tutorial/*nics_ene/starting*
tutorial/*nics_ene/nics*
tutorial/*nics_ene/pop*
dist/*
MANIFEST
