.DS_Store
*.pyc
corin_notes
docs/_build/*
cctk/scripts/scan_angle/*
tutorial/dinucleotide_conformations/conformers/*
pyproject.toml
*.swp
tutorial/dipeptide_conf_search/conf*
tutorial/dipeptide_conf_search/*.sh
tutorial/dipeptide_conf_search/output
tutorial/moj_plot/scan*
tutorial/moj_plot/output
tutorial/moj_plot/*.sh
